/*------Login Page---------*/
.loginpage .help-block-error,.loginpage .has-error .control-label{
    color : rgba(250, 133, 100, 1) !important;
}
.loginpage .has-success .control-label{
    color : rgb(124, 230, 146);
}
.loginpage .input{
    margin: 5px 0 0px 0;
}
.login-logo-text {
    text-align: center;
    padding-top: 20px;
}
.login-logo-text > a {
    color:#fff;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 3px;
}
.logo-area-text{
    color:#fff;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
}
.logo-area-text a{
    color:#fff;
    text-decoration: none;
}
.page-topbar.sidebar_shift .logo-area .logo-area-text{
    display: none;
}

/*------Sign Up Page --------*/
.inputPosition
{
    margin-bottom: -11px !important;
}
/*------Sign Up Page End------*/

/*-----Page Custom Header position start------*/
.page-title-custom{
    line-height: 0;
    display: block;
}
.page-title-custom .title{
    margin-bottom:0 !important;
}

.page-title-custom h1{
    margin:0 0 !important;
}
/*-----Page Custom Header position end------*/

/*------Readonly field span class start-------*/
.bg-gray-field{
    background-color: #e9ecef;
    color: #495057;
}
/*------Readonly field span class end-------*/


/*-------User Profile Status Start------*/
.user-profile-status-active{
    padding: 3px;
    background-color: transparent !important;
    border: 2px solid #12a52b;   
}
/*-------User Profile Status END------*/

/* */
.gallery-parent-div{
    border: 1px #ccc solid;
    padding: 5px;             /*rupal comment instrument*/
    -webkit-box-shadow: 0 0 6px rgba(100, 100, 100, 0.42);
    -moz-box-shadow: 0 0 6px rgba(100, 100, 100, 0.42);
    box-shadow: 0 0 6px rgba(100, 100, 100, 0.42);
}
/* */

/*.theme-datatable .dataTables_wrapper .row{
    display : flex;
}*/
.dataTables_filter div:parent div:parent {display : flex !important;}

.admin_enabled_link,.admin_disabled_link{
    cursor: pointer;
}
.theme-datatable .dataTables_filter{
    float: right;
    margin-left: 10px;
}
.theme-datatable .dataTables_length{
    float: left;
}
.theme-datatable .dt-buttons{
    float: right;
    padding-bottom: 10px;
}
.theme-datatable .dt-buttons>.btn{
    padding: 4px 18px;
}
.datatable-search-div{
    background-color: #f5f5f5;
    padding: 12px 0px;
}

/********Loader start*******/
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.8;
    z-index: 11040;
}
#loader {
    z-index: 1;
    opacity: 1;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader_message{
    color: #fff;
    top: 50%;
    /* left: 50%; */
    text-align: center;
    position: relative;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/********Loader End*******/

.padding-imp-30{
    padding: 30px !important;
}

/******Booking tution start********/
.booking-instrument-card .card-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

#booking-pills .form-wizard li{
    width: 16.6%;
}

.booking_search_data .tab-pane {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.booking-nav-title{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-left: 15px;
    line-height: 30px;
    color: #676767;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}
/******Booking tution end********/
/*---------------------------------------------
     Filter Button Group
----------------------------------------------*/
.my-inline-button {
    padding: 0;
}
.my-inline-button .my-inline-button-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    display: inline-block;
}
.my-inline-button .my-inline-button-filter > li {
    float: left;
    display: block;
    margin-bottom: 15px;
}
.my-inline-button .my-inline-button-filter > li label {
    display: block;
    position: relative;
}
.my-inline-button .my-inline-button-filter > li label:hover, .my-inline-button .my-inline-button-filter > li > label.active {
    background-color: rgba(153, 114, 181, 1.0) !important;
}
.my-inline-button .my-inline-button-filter > li label.active:after {} .my-inline-button .portfolio-item {
    /*  width: 33.2%;*/
    
    float: left;
    padding: 5px;
}
.my-inline-button .my-inline-button-filter > li > .btn > input[type=radio]{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
/*---------------------------------------------*/

/*******add********/
.credit_card_custom_css{
	border: 1px solid rgb(141, 141, 141);
	background-color: #f6f6f6;
}


.datatable-search-div .form-group{
    padding-bottom: 5px;
    padding-top: 5px;
}

/****rupal*****/
.more{
        border-left-style: ridge;
        cursor:pointer
    }
.moreSession{
        border-left-style: ridge;
        cursor:pointer
    }
.cursor_remove{
	cursor: default;
}

/********Block ui loader ***/
.loader_text_wrapper{
    /*padding: 10px;*/
    padding: 10px 15px; 
    background-color: #000;
}

/*******Calender unavailibility******/
.fa-unavailability {
    /*background-image: url(../img/unavailable.jpg);*/
    background-color:#4790CA !important;
    border: 0px solid #4790CA !important;
    border-radius: 0;
    color: #fff;
    /*text-shadow: 0px 1px 0px #E6E6E6;*/
    /*opacity: 0.7*/
}
.fa-unavailability .fc-time span{
    /*background-color:#4790CA !important;*/
    /*padding: 5px 5px 0px 5px;*/
    font-weight: bold;
    color: #fff !important;
}
.fa-unavailability .fc-time{
    color: #fff !important;
}
.fa-unavailability .fc-title{
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*******Calender fa-none-working******/
.fa-none-working {
    /*background-image: url(../img/unavailable.jpg);*/
    background-color:#828080 !important;
    border: 0px solid #828080 !important;
    border-radius: 0;
    color: #fff;
    /*text-shadow: 0px 1px 0px #E6E6E6;*/
    /*opacity: 0.7*/
}
.fa-none-working .fc-time span{
    /*background-color:#828080 !important;*/
    /*padding: 5px 5px 0px 5px;*/
    font-weight: bold;
    color: #fff !important;
}
.fa-none-working .fc-time{
    color: #fff !important;
}
.fa-none-working .fc-title{
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*******Calender fa-break******/
.fa-break {
    /*background-image: url(../img/unavailable.jpg);*/
    background-color:#1fb5ac !important;
    border: 0px solid #1fb5ac !important;
    border-radius: 0;
    color: #fff;
    /*text-shadow: 0px 1px 0px #E6E6E6;*/
    /*opacity: 0.7*/
}
.fa-break .fc-time span{
    /*background-color:#1fb5ac !important;*/
    /*padding: 5px 5px 0px 5px;*/
    font-weight: bold;
    color: #fff !important;
}
.fa-break .fc-time{
    color: #fff !important;
}
.fa-break .fc-title{
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*******Calender fa-schedule-tution******/
.fa-schedule-tution {
    /*background-image: url(../img/unavailable.jpg);*/
    background-color:#fa8564 !important;
    border: 0px solid #fa8564 !important;
    border-radius: 0;
    color: #fff;
    /*text-shadow: 0px 1px 0px #E6E6E6;*/
    /*opacity: 0.7*/
}
.fa-schedule-tution .fc-time span{
    /*background-color:#1fb5ac !important;*/
    /*padding: 5px 5px 0px 5px;*/
    font-weight: bold;
    color: #fff !important;
}
.fa-schedule-tution .fc-time{
    color: #fff !important;
}
.fa-schedule-tution .fc-title{
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*******Calender fa-cancel-schedule-tution******/
.fa-cancel-schedule-tution {
    /*background-image: url(../img/unavailable.jpg);*/
    background-color:#dc3545 !important;
    border: 0px solid #dc3545 !important;
    border-radius: 0;
    color: #fff;
    /*text-shadow: 0px 1px 0px #E6E6E6;*/
    /*opacity: 0.7*/
}
.fa-cancel-schedule-tution .fc-time span{
    /*background-color:#1fb5ac !important;*/
    /*padding: 5px 5px 0px 5px;*/
    font-weight: bold;
    color: #fff !important;
}
.fa-cancel-schedule-tution .fc-time{
    color: #fff !important;
}
.fa-cancel-schedule-tution .fc-title{
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*******Calender list view hover******/
.fc-list-item:hover td {
    background-color: #9972b5 !important;
}


.fc-widget-header .fc-today {
    background: #fdb45c !important;
}

/***********/
.video_thumb_image{
    max-height: 159px;
    max-width: 211px;
    width: 211px !important;
}

.small-size{
    width: 100px;
    height: 90px;
}
/*    .more{
        border-left-style: ridge;
    }*/
.search_result_more_video{
    /*margin: 0 0px -20px 0;*/
    margin: 0;
    padding: 0;
}


/*************pace loader*****/
/********Loader start*******/
/*.pace {
    
    background-color:#000;
    opacity: 0.8;
    z-index: 99999;
}*/
/*.pace .pace-activity {
    z-index: 99999;
    opacity: 1;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}
.pace .pace-activity:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.pace .pace-activity:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}*/
/********pace Loader End*******/

/**** Apply Asterisk (*) when it's Required start******/
div.required label.control-label:after {
        content: " *";
        color: red;
    }
/**** Apply Asterisk (*) when it's Required End******/
.myselect2 {
    
    background-color: #ffffff;
}
.myselect2 .select2-choice{
        border: none !important;
    height: 100% !important;
    padding: 2px 0px !important;
}

/**** Booking start date error display layout START******/
.field-studenttuitionbooking-session_when_start{margin-bottom: 0px;}
.field-studenttuitionbooking-session_when_start > .help-block{height: 23px;margin-bottom: 0px;}
.field-studenttuitionbooking-start_hour{margin-bottom: 0px;}
.field-studenttuitionbooking-start_hour > .help-block{height: 23px;margin-bottom: 0px;}
/**** Booking start date error display layout End******/
