/*body {background-image: url('pdf_bg.png'); background-position: center bottom;background-repeat: no-repeat;}*/
            .cmp_info_row{margin-top:60px;}
            .info_tbl{width:100%;}
            .info_tbl_td_bold{text-align:right;font-family:"sans-serif",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none;}
            .info_tbl_td{text-align:right;font-family:"sans-serif",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none;}
            .cmp_info{text-align:right;font-family:"Calibri Bold",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}

            .cust_row{margin-top:20px;}
            .cust_tbl{width:100%;}
            .cust_tbl_td{vertical-align:top;text-align:left;font-family:"sans-serif",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none;}
            .cust_tbl_td_big_title{width:50%;text-align:right;float:left;font-family:"sans-serif",serif;font-size:18.1px;color:rgb(46,83,149);font-weight:bold;font-style:normal;text-decoration: none}
            .cust_tbl_td_right{vertical-align:top;text-align:right;font-family:"sans-serif",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none;}

            .item_row{margin-top:50px;}
            .item_tbl{width:100%;border-top: 1px solid #000000;border-left: 1px solid #000000; border-right: 2px solid #000000;border-bottom: 2px solid #000000; border-collapse: collapse;}
            .item_tbl_th{text-align:left;font-family:"sans-serif",serif;font-size:10.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none;border-bottom:2pt solid black;padding: 5px;}
            .item_tbl_td{text-align:left;font-family:"sans-serif",serif;font-size:10.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none;border-bottom:1pt solid black;padding: 5px}

            .total_row{margin-top:10px;}
            .total_tbl{width:100%;}
            .total_tbl_td{text-align:left;font-family:"sans-serif",serif;font-size:10.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none;}
            .total_price_td{padding-right:10px;}

            .footer_row{bottom:10px;}
            .footer_tbl{width:100%;border-top: 2px solid #ffffff; border-collapse: collapse;}
            .footer_tbl tr td{text-align:center;width:33%;color:#ffffff;font-family:"sans-serif",serif;font-size:11.1px;font-weight:bold;font-style:normal;text-decoration: none;padding-top:10px;}

            .middle_row{width: 90%; margin-left:5%;}
