@media (min-width:992px) and (max-width:1169px) {
    .left-sidebar-pro {
        display: block
    }
    .mobile-menu-area {
        display: none
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .logo-pro {
        display: none
    }
    .col-lg-1.col-md-0.col-sm-1.col-xs-12 {
        display: none
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .left-sidebar-pro {
        display: none
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .mobile-menu-area {
        display: block
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .header-top-menu {
        display: none
    }
    .header-right-info .navbar-nav {
        float: none;
        text-align: center;
        margin: 0 230px
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
    .res-mg-t-30 {
        margin-top: 30px
    }
}

@media (max-width:767px) {
    .container {
        width: 300px
    }
    .left-sidebar-pro {
        display: none
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .mobile-menu-area {
        display: block
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .header-top-menu {
        display: none
    }
    .header-right-info .navbar-nav {
        float: none;
        text-align: center
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0 0 0 13px
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
    .res-mg-t-30 {
        margin-top: 30px
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 450px
    }
}