/* 13 */
@font-face {
    font-family: Lato-Heavy;
    src: url(http://fonts.googleapis.com/css?family=Lato:400,700)
}

@font-face {
    font-family: myFirstFont;
    src: local("C:\Users\Website\fonts\Harlow_Solid_Italic.ttf")
}

body,
html {
    height: 100%
}

body {
    font-family: Lato-Heavy, sans-serif;
    overflow-x: hidden;
    overflow-y: auto
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto
}

.wrapper:after,
.wrapper:before {
    content: " ";
    display: table
}

.wrapper:after {
    clear: both
}

.content-wrapper,
.main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820
}

@media (max-width:767px) {
    .content-wrapper,
    .main-footer {
        margin-left: 0
    }
}

@media (min-width:768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .main-footer {
        margin-left: 0
    }
}

.content-wrapper {
    min-height: 100%;
    background-color:#f7f7f7;
    z-index: 800;
	/* display: inline-block; */
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de
}

.hold-transition .content-wrapper,
.hold-transition .main-footer,
.hold-transition .main-header .navbar,
.hold-transition .main-sidebar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	/* display: inline-block; */
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif
}

a {
    color: #000
}

a:active,
a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #000
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030
}

.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right
}

@media (max-width:991px) {
    .main-header .navbar-custom-menu a,
    .main-header .navbar-right a {
        color: inherit;
        background: 0 0
    }
}

@media (max-width:767px) {
    .main-header .navbar-right {
        float: none
    }
    .navbar-collapse .main-header .navbar-right {
        margin: 7.5px -15px
    }
    .main-header .navbar-right>li {
        color: inherit;
        border: 0
    }
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome
}

.main-header .sidebar-toggle:hover {
    color: #fff
}

.main-header .sidebar-toggle:active,
.main-header .sidebar-toggle:focus {
    background: 0 0
}

.main-header .navbar .nav>li.user>a>.fa {
    margin-right: 5px
}

.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9
}

.content-header {
    position: relative;
	padding: 40px 15px 0 30px;
	display: inline-block;
	width: 100%;
}

.content-header>h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 500
}

.navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 15px
}

@media (max-width:991px) {
    .navbar-custom-menu .navbar-nav>li {
        float: left
    }
    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left
    }
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px
    }
}

@media (max-width:767px) {
    .main-header {
        position: relative
    }
    .main-header .navbar {
        width: 100%;
        float: none
    }
    .main-header .navbar {
        margin: 0
    }
    .main-header .navbar-custom-menu {
        float: right
    }
}

@media (max-width:991px) {
    .navbar-collapse.pull-left {
        float: none!important
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px
    }
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out
}

@media (max-width:767px) {
    .main-sidebar {
        padding-top: 100px
    }
}

@media (max-width:767px) {
    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)
    }
}

@media (min-width:768px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)
    }
}

.sidebar {
    padding-bottom: 10px
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    display: grid
}

.user-panel:after,
.user-panel:before {
    content: " ";
    display: table
}

.user-panel:after {
    clear: both
}

.user-panel>.image>img {
    width: 100%;
    max-width: 150px;
    height: auto
}

.user-panel>.info {
    padding: 15px 5px 5px 15px;
    line-height: 1;
    left: 55px
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 16px
}

.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px
}

.user-panel>.info>a>.fa {
    margin-right: 3px
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    top: 65px;
    position: relative
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0
}

.sidebar-menu>li>a {
    padding: 20px 5px 12px 8px;
    display: block
}

.sidebar-menu>li>a>.fa {
    width: 20px
}

.sidebar-menu>li .label {
    margin-right: 5px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

@media (min-width:768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px!important;
        z-index: 840
    }
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px!important;
        z-index: 850
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        position: relative
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
        margin-right: 0
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
        border-top-right-radius: 4px
    }
    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
        display: none!important;
        -webkit-transform: translateZ(0)
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px
    }
}

.main-sidebar .user-panel,
.sidebar-menu,
.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden
}

.sidebar-menu:hover {
    overflow: visible
}

.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip
}

.sidebar-menu li>a {
    position: relative
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px
}

.control-sidebar-bg {
    position: fixed;
    z-index: 1000;
    bottom: 0
}

.control-sidebar,
.control-sidebar-bg {
    top: 0;
    right: -230px;
    width: 230px;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out
}

.control-sidebar {
    position: absolute;
    padding-top: 50px;
    z-index: 1010
}

@media (max-width:767px) {
    .control-sidebar {
        padding-top: 100px
    }
}

.control-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0 -15px
}

.control-sidebar-menu>li>a {
    display: block;
    padding: 10px 15px
}

.control-sidebar-menu>li>a:after,
.control-sidebar-menu>li>a:before {
    content: " ";
    display: table
}

.control-sidebar-menu>li>a:after {
    clear: both
}

.control-sidebar-menu .menu-info {
    margin-left: 45px;
    margin-top: 3px
}

.control-sidebar-menu .menu-info>p {
    margin: 0;
    font-size: 11px
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px
}

@media (max-width:767px) {
    .navbar-nav>.user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    100% {
        transform: perspective(400px)
    }
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    100% {
        -webkit-transform: perspective(400px)
    }
}

.navbar-custom-menu>.navbar-nav>li {
    position: relative
}

@media (max-width:991px) {
    .navbar-custom-menu>.navbar-nav {
        float: right
    }
    .navbar-custom-menu>.navbar-nav>li {
        position: static
    }
}

.box {
    position: relative;
    border-radius: 3px;
    background: 0 0;
    border-bottom: 0px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%
}

.box.box-primary {
    border-top-color: #3c8dbc;
	border-bottom: 2px solid #e9e9e9;
	border-radius: 0;
}

.box.box-info {
    border-top-color: #00c0ef
}

.box.box-warning {
    border-top-color: #f39c12
}

.box .border-right {
    border-right: 1px solid #f4f4f4
}

.box .border-left {
    border-left: 1px solid #f4f4f4
}

.box-body:after,
.box-body:before,
.box-footer:after,
.box-footer:before,
.box-header:after,
.box-header:before {
    content: " ";
    display: table
}

.box-body:after,
.box-footer:after,
.box-header:after {
    clear: both
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header.with-border {
    border-bottom: 0 solid #f4f4f4
}

.box-header .box-title,
.box-header>.fa {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.box-header>.fa {
    margin-right: 5px
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px
}

.box-header>.box-tools [data-toggle=tooltip] {
    position: relative
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: 0 0;
    color: #97a0b3;
	margin-top: -57px;
}

.btn-box-tool:hover {
    color: #606c84
}

.btn-box-tool.btn:active {
    box-shadow: none
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	background-color: #fff;
	border-radius: 20px;
}
.box-bodys{
	background-color:transparent !important;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 15px
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px
}

.info-box-number {
    display: block;
    font-weight: 700;
    font-size: 18px
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.info-box-text {
    text-transform: uppercase
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent
}

.btn.uppercase {
    text-transform: uppercase
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn:focus {
    outline: 0
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #252525 !important;
}
.btn-primary:focus {
    background-color: #252525 !important;
}

.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6
}

.btn-info:active,
.btn-info:hover {
    background-color: #00acd6
}

.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b
}

.btn-warning:active,
.btn-warning:hover {
    background-color: #e08e0b
}

.btn[class*=bg-]:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .2)
}

.nav>li>a:active,
.nav>li>a:focus,
.nav>li>a:hover {
    color: #444;
    background: #fff;
	border: 0;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.products-list>.item {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 10px 0;
    background: 0 0
}

.products-list>.item:after,
.products-list>.item:before {
    content: " ";
    display: table
}

.products-list>.item:after {
    clear: both
}

.products-list .product-img {
    float: left
}

.products-list .product-img img {
    width: 45px;
    height: 45px
}

.products-list .product-info {
    margin-left: 60px;
	width: 80%;
}

.products-list .product-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px
}

.product-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4
}

.product-list-in-box>.item:last-of-type {
    border-bottom-width: 0
}

.box-widget {
    border: none;
    position: relative
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px
}

.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff
}

.widget-user .box-footer {
    padding-top: 30px
}

.widget-user-2 .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.widget-user-2 .widget-user-image>img {
    width: 65px;
    height: auto;
    float: left
}

.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de
}

.margin {
    margin: 10px
}

.margin-bottom {
    margin-bottom: 20px
}

.bg-blue,
.bg-blue-active,
.label-info,
.label-primary,
.label-warning {
    color: #fff!important
}

.label-warning {
    background-color: #000!important
}

.label-info {
    background-color: #00c0ef!important
}

.bg-blue {
    background-color: #0073b7!important
}

.label-primary {
    background-color: #3c8dbc!important
}

.bg-blue-active {
    background-color: #005384!important
}

.text-blue {
    color: #0073b7!important
}

.text-sm {
    font-size: 12px
}

.list-header {
    font-size: 15px;
    padding: 10px 4px;
    font-weight: 700;
    color: #666
}

.img-lg,
.img-md,
.img-sm {
    float: left
}

.img-sm {
    width: 30px!important;
    height: 30px!important
}

.img-sm+.img-push {
    margin-left: 40px
}

.img-md {
    width: 60px;
    height: 60px
}

.img-md+.img-push {
    margin-left: 70px
}

.img-lg {
    width: 100px;
    height: 100px
}

.img-lg+.img-push {
    margin-left: 110px
}

@media print {
    .content-header,
    .main-header,
    .main-sidebar {
        display: none!important
    }
    .content-wrapper,
    .main-footer {
        margin-left: 0!important;
        min-height: 0!important;
        -webkit-transform: translate(0, 0)!important;
        -ms-transform: translate(0, 0)!important;
        -o-transform: translate(0, 0)!important;
        transform: translate(0, 0)!important
    }
}

.sidebar-menu li a img {
    width: 25px;
    margin-right: 20px
}

.content-header h1 img {
    width: 60px;
    margin-right: 15px;
    margin-top: -12px
}

.label {
    display: inline;
    padding: 5px 2px 3px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50px
}

.label-warning {
    padding: 5px 26px 3px
}

.skin-blue .main-header .navbar {
    background-color: #fff;
}

/* .skin-blue .main-header .navbar .nav>li>a { */
    /* color: #000!important */
/* } */

.product-list-in-box h4 {
    margin-bottom: 30px
}

.profile-dtl {
    text-align: center
}

.profile_sec_dp img {
    width: 200px;
    height: auto!important
}

.analysis-progrebar-ctn {
    padding: 20px;
    background: #f7f7f7;
    text-align: left
}

.text-left {
    text-align: left
}

.min-dtn-sub-2 {
    font-weight: lighter;
    color: #000;
    margin-bottom: 20px
}

.min-dtn2 {
    font-weight: lighter;
    text-transform: uppercase;
    color: #656565;
    margin-bottom: 0;
    margin-top: 20px
}

.min-dtn {
    font-weight: lighter;
    text-transform: uppercase;
    color: #656565
}

.content-header h1 {
    margin-bottom: 20px
}

.change_pass {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: 0 auto 8px auto;
    padding: 2px
}

.analysis-progrebar-ctn {
    padding: 20px;
    background: #f7f7f7;
    text-align: left
}

.admin-content h4 {
    margin-bottom: 40px;
    display: block
}

.analysis-progrebar-ctn h4 {
    font-size: 20px;
    color: #000;
    text-transform: capitalize
}

.change_pass_add {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 180px;
    padding: 2px;
    text-align: center
}

.cont_title_add {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px
}

.report_list_view {
    line-height: 34px
}

/* .skin-blue .main-header .navbar { */
    /* background-color: #3c8dbc */
/* } */

.skin-blue .main-header .navbar .nav>li>a {
    color: #000;
}

.skin-blue .main-header .navbar .nav>.active>a,
.skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav>li>a:hover {
    background: transparent;
    color: #242424;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, .1)
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #fff;
}

.skin-blue .main-header li.user-header {
    background-color: #3c8dbc
}

.skin-blue .content-header {
    background: 0 0
}

.skin-blue .main-sidebar,
.skin-blue .wrapper {
    background-color: #000;
}

.skin-blue .user-panel>.info,
.skin-blue .user-panel>.info>a {
    color: #fff
}

.skin-blue .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226
}

.skin-blue .sidebar-menu>li>a {
    border-left: 3px solid transparent
}

.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: linear-gradient(to right, #9b4bd5, #63caf0)!important
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #3c8dbc
}

.skin-blue .sidebar a {
    color: #b8c7ce
}

.skin-blue .sidebar a:hover {
    text-decoration: none
}

/* my-lesson */

.change_pass {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: 0 auto 8px auto;
    padding: 2px;
}
.analysis-progrebar-ctn {
    padding: 20px;
    background: #f7f7f7;
    text-align: left;
}
.admin-content h4 {
    margin-bottom: 40px;
    display: block;
}
.analysis-progrebar-ctn h4 {
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
}
.change_pass_add {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 180px;
    padding: 2px;
    text-align: center;
}
.modal_add {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 180px;
    padding: 5px;
    text-align: center;
}
.hr_line {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.hr_line2 {
    border-bottom: 0px solid #f2f2f2;
}
.cont_title_add {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}
.report_list_view {
    line-height: 34px;
}
.modal-body{
	padding: 15px 70px;
}
.padd_zero{
	padding:0;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.modal-header {
  border-bottom-color: #f4f4f4;
  background-color:#000;
  color:#fff;
  padding:30px 50px 30px 70px;
  border-radius: 15px 15px 0px 0px;
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
    border-radius: 15px 15px 15px 15px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    border: 1px solid #fff !important;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: !important;
}
.form-control{
	padding-right: 10px;
	border-radius: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 20px;
	padding: 3px 22px;
}
.btn-primary:hover {
    background-color: #252525 !important;
}
.welcome_title{
	padding: 16px 0px;
	display: table;
	float: left;
}

/* video-gallery */

.video_gallery_btn{
	background-color:#000;
	padding:10px;
}
.categry-bg-white {
    background-color: #fff;
    border-radius: 22px;
    padding: 20px;
    line-height: 30px;
	display: block;
}
.main_page_content{
	padding-left: 18px;
}
.black_button_in {
    background-color: #000;
    padding: 10px;
    min-width: 180px;
	margin: 20px 0px;
}
.video_library_img{
	width: 100%;
	border-radius: 10px;
}
.video_categry-bg-white {
    background-color: #fff;
    border-radius: 22px;
    padding: 20px 5px;
    line-height: 30px;
    display: block;
}
.video_content_bar h4{
	margin: 15px 0px 0px 0px;
}
.video_content_bar p{
	line-height: 20px;
}
.video_content_side_bar{
	margin: 0;
}
.video_content_side_bar_sub{
	margin: 0;
	line-height: 20px;
	margin-bottom: 5px;
}
.video_name{
	font-size:12px;
	line-height: 15px;
}
.orange {
    color: #ffbf00;
    font-size: 12px;
    line-height: 25px;
}
.input-group-addon:last-child {
    border-left: 0;
    border-radius: 0 20px 20px 0px;
}
.white_bg {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
	min-height: 660px;
}
.video_search_btm{
	max-width: 157px;
	position: absolute;
	bottom: 0;
	margin: 20px 10px;
}
.box_video{
	margin-bottom: 30px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* video play page */

.margin_left_zero{
	margin-left: 0 !important;
}
.black{
	background-color: #000 !important;
}
.logo{
	width:177px;
	margin-left: 20px;
}
.black .navbar-custom-menu ul li a{
	color:#fff !important;
}
.black .navbar-custom-menu ul li a img{
	margin-right: 10px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: #337ab7;
}
.dropdown-menu {
    right: 0 !important;
    left: auto;
	min-width: 646px;
	border-radius: 0 0 25px 25px;
	background-color: rgba(0, 0, 0, 0.8);
}
.video_chat_apps span div img{
	width: 45px;
	margin-right: 12px;
}
.dropdown_sub_icon a{
	padding-right: 2px;
}
.no-padd{
	padding:0px;
}
.video_chat_tab li{
	width:50%;
	text-align:center;
	border-bottom: 3px solid #eee;
	top: -2px;
}
.video_chat_tab li a{
	border: 0px solid #ccc;
}
.video_chat_tab li a h3{
	margin:0px;
	padding: 5px 0px;
}
#members, #chat{
	padding:20px 10px;
}
.video_chat_tab{
	border: 0px;
}
.video_chat_tab .active{
	border-bottom: 3px solid #1fb2fe;
}
.video_chat_tab .active a{
	border: 0px !important;
}
.video_chat_apps span {
	color:#fff;
}
.video_sub_manu{
	padding:26px 0px 32px 15px;
}
.video_chat_bg{
	background-color:#fff;
	display: inline-block;
	width: 100%;
}

/* login */

.login-box-body{
	margin-top: 45%;
}
.login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2px;
    font-weight: 300;
    margin-top: 25%;
}

.login-logo a {
    color: #444
}

.login-page {
    background: #d2d6de;
	background-image:url(../img/login-bg.png)
}

.login-box {
    width: 400px;
    margin: 7% auto
}

@media (max-width:768px) {
    .login-box{
        width: 90%;
        margin-top: 20px
    }
}
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px
}
.login_btn{
	width:200px;
	margin: 25px 1px;
	display: inline-block;
	padding: 10px;
}
.login_btm{
	font-size:14px;
	color: #666;
}
.lesson_hi{
	text-align:center;
}
.lesson_hi{
	background: #000;
	color:#fff;
}
.lesson_hi_btn_bg{
	background: linear-gradient(to right, #9b4bd5, #63caf0) !important;
}
.lesson_logo_asign{
	top: 0;
	position: fixed;
	margin-left: 10px;
}
.lesson_input-bar{
	margin-top: 60px;
}
.lesson_hi form .form-group input{
	width:200px;
	margin: 0 auto;
}
.login-box-bodys{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #000;
	border-radius: 0px 0px 20px 20px;
	text-align:center;
}
.booked-sessions{
	background-color:#ebebeb;
}
.booked-sessions-header{
	background-color:#000;
	padding: 15px 0;
	border-radius: 20px 20px 0px 0;
}
.join-lessons{
	width:170px;
	text-align: center;
	margin: 0 auto;
}
.join-lessons button{
	padding:8px 0px;
}
.red{
	color:red;
}
.join-lessons-login {
    width: 170px;
    text-align: center;
    margin: 12px 0px 50px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 8px 0;
}
.white_bg {
    background-color: #fff !important;
	padding: 0;
	color: #666;
}
.white_bg h4{
	padding: 5px 17px;
	display: block;
	float: left;
	color: #666;
}
.booked_session_sub_manu{
	margin:0px;
}
.booked_session_right_icon{
	padding: 0px 15px !important;
	color: #666;
}
.white_bg div ul li a i{
	color:#666;
}
.video_display{
	display: inline-block;
}
.video-chat-profile{
	width: 70px !important;
	height: 70px !important;
	margin-right: 20px;
}
.chat_btn{
	background: linear-gradient(to right, #9b4bd5, #63caf0) !important;
}
.video-chat-product-title{
	font-size:14px;
}
.video-bg-img{
	background-image:url(../img/pic.png);
	min-height: 700px;
	background-position: center;
}
.provideo {
    max-width: 350px;
    border: 1px solid #000;
    margin: 5px 0px 0px 5px;
}
.provideotime {
    bottom: 0px;
    position: absolute;
    color: #fff;
    margin: 0px 15px;
}
.session-end-btn{
	min-height: 700px;
}
.session-end-btns h5 {
    border: 1px solid #666;
    width: 200px;
    padding: 16px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 20px 26%;
}

#example1_length, #example1_info{
	display:none;	
}

@media only screen and (max-width: 768px) {
  .dropdown-menu {
    min-width: 100%;
}
.dropdown-menu{
	position: absolute !important;
	background-color: #000 !important;
}
.login-logo {
    margin-top: 45%;
}
.white_bg h4 {
    padding: 0px 17px;
}
.navbar-custom-menu .navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
}
.white_bg {
    padding-bottom: 23px;
	margin: 10px 3px;
}
.skin-blue .main-header .navbar .nav > li > a {
    padding: 15px 15px;
}
.black_button_in {
    margin: 5px 0px;
}
.content-header h1 {
    font-size: 20px;
}
.content-header h1 img {
    width: 40px;
}
}


/* table */

.fa-arrow-circle-o-up{
	font-size: 20px;
}

/* 13-04-2019 */

.lesson-credits {
    padding: 30px 3px;
    display: block;
}
.side_logo{
	bottom: 0px;
	position: absolute;
}
.side_logo img{
	width:100%;
}
/* extra-button-class */
.profile_btn{
	background: linear-gradient(to right, #9b4bd5, #63caf0) !important;
	border-radius: 50%;
	padding: 44px;
	height: 150px;
	width: 150px;
	font-size: 50px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}	

/* end-13-04-2019 */


.new_btn{
    padding: 10px;
    width: 178px;
    text-align: center;
    background: linear-gradient(#9b4bd5, #63caf0) !important;
    border: 0;
    color: #fff;
}


@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .skin-blue .main-header .navbar .nav > li > a {
		padding: 17px 7px;
	}
	.navbar-custom-menu li a img{
		width: 18px;
	}
}