@font-face {
    font-family: Lato-Heavy;
    src: url(https://fonts.googleapis.com/css?family=Lato:400,700);
}
@font-face {
    font-family: myFirstFont;
    src:local("C:\Users\Website\fonts\Harlow_Solid_Italic.ttf");
}

body,
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    background: #f7f7f7
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto
}

p {
    margin: 0 0 15px
}
h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

a {
    transition: all .3s ease 0s;
    text-decoration: none
}

a:hover {
    color: #ec4445;
    text-decoration: none
}

a:active,
a:link,
a:visited {
    text-decoration: none
}

a:active,
a:hover {
    outline: 0 none
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.mg-b-30 {
    margin-bottom: 30px
}

.mg-t-30 {
    margin-top: 30px
}

.mg-b-10 {
    margin-bottom: 16px
}

.mg-t-15 {
    margin-top: 15px
}

.mg-b-15 {
    margin-bottom: 15px
}

.all-content-wrapper {
    margin-left: 205px;
    transition: all .3s
}

.left-sidebar-pro {
    z-index: 9999;
    width: 240px
}

#sidebar {
    min-width: 205px;
    background: #000;
    color: #fff;
    position: fixed;
    transition: all .3s;
    z-index: 999;
    height: 100%
}

.mini-navbar .all-content-wrapper {
    margin-left: 80px;
    transition: all .3s
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center
}

#sidebar.active .sidebar-header h3 {
    display: none
}

#sidebar.active ul li .sidebar-right-icon {
    display: none
}

#sidebar .sidebar-header {
    padding: 1px 0;
    position: relative;
    z-index: 99999;
    background: #000
}

.musicco-profile {
    padding: 20px;
    position: relative;
    z-index: 99999;
    background: #000
}

.profile-dtl {
    text-align: center
}

.profile-dtl img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #152036
}

.profile-dtl h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 5px 0
}

.sidebar-header {
    text-align: center
}

.sidebar-header h3 {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px
}

#sidebar.active .sidebar-header .main-logo {
    display: none
}

#sidebar.active #sidebar.active .sidebar-header h3 {
    display: none
}

#sidebar.active .sidebar-header p {
    display: none
}

#sidebar ul li a .sidebar-right-icon {
    float: right
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro {
    width: 100%
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li {
    display: block;
    float: none;
    position: relative
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown {
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 0;
    border: 0 solid #fff;
    box-shadow: none;
    background: #ebebeb
}

.left-custom-menu-adp-wrap .dropdown-menu {
    position: relative;
    float: none
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown a:hover {
    padding: 15px 30px;
    transition: all .4s ease 0s;
    background: #fff
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a {
    display: block;
    padding: 15px 20px;
    color: #444;
    transition: all .4s ease 0s;
    font-size: 16px
}

.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:active,
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:focus,
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:hover,
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:visited {
    background: #ebebeb;
    color: #444
}

#sidebar.active .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li>a {
    padding: 20px 20px
}

.menu-switcher-pro {
    transition: all .4s ease 0s;
    padding: 20px 0 20px 0;
    cursor: pointer
}

.menu-switcher-pro i {
    font-size: 20px;
    color: #000;
    margin: 0 10px 0 0
}

.mini-navbar .menu-switcher-pro {
    transition: all .3s
}

.menu-switcher-pro button {
    background: 0 0;
    border: none;
    color: #000
}

.menu-switcher-pro button:active,
.menu-switcher-pro button:focus,
.menu-switcher-pro button:hover,
.menu-switcher-pro button:visited {
    background: 0 0;
    border: none
}

.comment-scrollbar {
    height: 580px
}

.header-top-menu .navbar-nav>li>a {
    padding: 20px 20px;
    color: #fff;
    font-size: 14px
}

.header-top-menu .navbar-nav>li>a:hover {
    color: #03a9f4
}

.header-top-menu .navbar-nav>li .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #fff
}

.header-top-menu .navbar-nav>li .dropdown-menu a:hover {
    background: #2b2a2a
}

.header-top-menu .navbar-nav>li .dropdown-menu {
    border: 0 solid #ccc;
    border: 0 solid rgba(0, 0, 0, .15);
    background-color: #303030
}

.header-right-info .navbar-nav>li .dropdown-menu {
    border: 0 solid #ccc;
    border: 0 solid rgba(0, 0, 0, .15)
}

.header-top-menu .nav>li>a:active,
.header-top-menu .nav>li>a:focus,
.header-top-menu .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent
}

.header-right-info .nav>li>a:active,
.header-right-info .nav>li>a:focus,
.header-right-info .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent
}

.header-right-info .navbar-nav {
    float: right;
    padding: 19px 0
}

.admin-logo {
    padding: 10px 0
}

.header-top-menu ul.header-top-nav li {
    display: inline-block;
    position: relative
}

.header-top-menu ul.header-top-nav li ul.dropdown-header-top {
    position: absolute;
    top: 130%;
    left: -10px;
    width: 200px;
    background: #303030;
    opacity: 0;
    transition: all .5s ease 0s;
    z-index: 999;
    padding: 10px 0
}

.header-top-menu ul.header-top-nav li .dropdown-header-top li {
    display: block
}

.header-top-menu ul.header-top-nav li .dropdown-header-top li a {
    display: block;
    color: #fff;
    padding: 15px 20px
}

.header-top-menu ul.header-top-nav li .dropdown-header-top li a:hover {
    background: #03a9f4
}

.header-top-menu ul.header-top-nav li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 18px 10px
}

.header-right-info ul.header-right-menu li {
    display: inline-block
}

.header-right-info ul.header-right-menu>li>a {
    display: inline-block;
    color: #000;
    padding: 0 0 0 20px;
    font-size: 20px;
    text-decoration: none;
    position: relative
}

.header-right-info .admin-name {
    display: inline-block;
    color: #000;
    font-size: 14px;
    position: relative;
    top: -2px;
    margin-left: 5px
}

.header-top-menu .navbar-nav>li .dropdown-menu {
    background: #f7f7f7
}

.header-top-menu .navbar-nav>li .dropdown-menu a:hover {
    background: #152036;
    color: #fff;
    outline: 0
}

.menu-switcher-pro #sidebarCollapse:active,
.menu-switcher-pro #sidebarCollapse:focus,
.menu-switcher-pro #sidebarCollapse:hover,
.menu-switcher-pro #sidebarCollapse:visited {
    outline: 0
}

.header-top-menu .navbar-nav>li>a:hover {
    color: #fff
}

.breadcome-list {
    padding: 20px;
    background: #f7f7f7;
    margin: 30px 0
}

ul.breadcome-menu {
    padding-top: 8px
}

ul.breadcome-menu {
    text-align: right
}

ul.breadcome-menu li {
    font-size: 14px;
    display: inline-block;
    color: #fff
}

ul.breadcome-menu li a {
    color: #fff
}

ul.breadcome-menu li a:hover {
    color: #f1f1f1
}

.breadcomb-wp {
    display: flex
}

.breadcomb-ctn {
    margin-left: 20px
}

.breadcomb-icon i {
    font-size: 70px;
    color: #63dbab;
    padding: 0;
    position: relative;
    border-radius: 5px;
    display: block;
    margin-top: -16px
}

.breadcomb-ctn h2 {
    font-size: 20px;
    color: #000
}

.breadcomb-ctn p {
    font-size: 14px;
    color: #000;
    margin: 0
}

.breadcomb-report {
    text-align: right;
    margin: 5px 0
}

.breadcomb-report button {
    background: #152036
}

.breadcomb-report button:active,
.breadcomb-report button:focus,
.breadcomb-report button:hover,
.breadcomb-report button:visited {
    outline: 0
}

.breadcomb-report i {
    color: #fff;
    font-size: 20px
}

.analysis-progrebar-ctn {
    padding: 20px;
    background: #f7f7f7;
    text-align: left
}

.analysis-progrebar {
    padding: 20px;
    background: #f7f7f7
}

.analysis-progrebar-ctn h4 {
    font-size: 20px;
    color: #000;
    text-transform: capitalize
}

.left-content span {
    display: inline-block
}

.header-top-area {
    position: fixed;
    background: #fff;
    z-index: 99;
    left: 200px;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: all .3s
}

.mini-navbar .header-top-area {
    left: 80px
}

.pro-button {
    float: left;
    margin: 10px 0
}

.list-pro-button,
.pro-button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 150px;
    background: #152036;
    border-radius: 25px;
    transition: all .4s ease 0s
}

.list-pro-button a,
.list-pro-button a:focus,
.pro-button a,
.pro-button a:focus {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase
}

.icon-box i {
    font-size: 30px
}

.content-box h2 {
    font-size: 20px;
    color: #444
}

.content-box p {
    font-size: 14px;
    line-height: 24px
}

.text-info {
    color: #3498db
}

.content-box .mg-t-box {
    margin-top: 15px
}

.payment-details button {
    background: #fff;
    border-color: #fff;
    color: #333
}

.payment-details button:hover {
    background: #fff;
    border-color: #fff;
    color: #333
}

.payment-card {
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 20px;
    background: #fff
}

.credit-card-custom a {
    background: #e12503;
    border-color: #e12503
}

.menu-list-mg-b.menu-list-wrap {
    margin-bottom: 40px
}

.mg-b-23 {
    margin-bottom: 23px
}

.mg-b-20,
.mg-b-23 {
    margin-bottom: 20px
}

.analysis-progrebar .analysis-progrebar-content h5 {
    font-size: 14px;
    color: #000;
    text-transform: capitalize
}

.analysis-progrebar .analysis-progrebar-content h2 {
    font-size: 20px;
    color: #000
}

ul.h-list li.active a,
ul.mailbox-list li.active a {
    background: #f7f9fa;
    border: 1px solid #e4e5e7;
    font-weight: 600;
    border-radius: 1px
}

ul.h-list li a,
ul.mailbox-list li a {
    padding: 8px 15px;
    display: block;
    font-size: 14px;
    transition: all .4s ease 0s
}

ul.h-list li:hover a,
ul.mailbox-list li:hover a {
    font-weight: 600;
    transition: all .4s ease 0s
}

.custom-address-mailbox {
    margin-bottom: 20px
}

.user-comment {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px
}

.user-comment img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%
}

.comment-details h4 {
    color: #222;
    font-size: 16px;
    font-weight: 700
}

.comment-details p {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.user-comment {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px
}

.admin-comment {
    padding: 20px 0;
    padding-left: 40px
}

.min-dtn {
    font-weight: lighter;
    text-transform: uppercase;
    color: #656565
}

.min-dtn2 {
    font-weight: lighter;
    text-transform: uppercase;
    color: #656565;
    margin-bottom: 0;
    margin-top: 20px
}

.min-dtn-sub-2 {
    font-weight: lighter;
    color: #000;
    margin-bottom: 20px
}

.mini-navbar .min-dtn {
    display: none
}

.mini-navbar .profile-dtl img {
    height: 50px
}

.mini-navbar #sidebar.active .sidebar-nav .metismenu a {
    padding: 16px 15px
}

.profile_sec_dp img {
    width: 200px;
    height: auto!important
}

.change_pass {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: 0 auto 8px auto;
    padding: 2px
}

.change_pass_add {
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #000;
    width: 180px;
    padding: 2px;
    text-align: center
}

.cont_title_add {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px
}

.admin-content h4 {
    margin-bottom: 40px;
    display: block
}

.report_list_view {
    line-height: 34px
}

.report_list_view div a {
    color: #000
}

.report_list_view div a:hover {
    color: #63dbab!important
}

.metismenu li a i {
    font-size: 30px
}

.mini-click-non {
    vertical-align: middle;
    top: -6px;
    position: relative;
	left: 13px;
}

.metismenu .active {
    background-image: linear-gradient(to right, #7fc62c, #5ce0cb)
}

.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:hover {
    color: #f8f9fa;
    text-decoration: none;
    background: linear-gradient(to right, #7fc62c, #5ce0cb)!important
}

#sidebarCollapse span {
    top: -3px;
    position: relative
}

.logo_bottom img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
    bottom: 0
}

.logo_bottom img {
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: 0 28px
}

.sidebar-nav {
    background: #fff
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #1b2a47
}

.sidebar-nav .metismenu {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.sidebar-nav .metismenu li+li {
    margin-top: 5px
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 5px
}

.sidebar-nav .metismenu li:last-child {
    margin-bottom: 5px
}

.sidebar-nav .metismenu>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #fff;
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: 16px
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 46px
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px
}

.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:hover {
    color: #f8f9fa;
    text-decoration: none;
    background: #152036
}

.sidebar-nav .metismenu li .icon-wrap {
    margin-right: 10px;
    font-size: 20px
}

.sidebar-nav .metismenu li .sub-icon-mg {
    margin-right: 5px;
    font-size: 16px
}

#sidebar.active .metismenu li .mini-click-non {
    display: none
}

.mobile-menu-area {
    display: none
}

.mobile-menu-area {
    background: #262626
}

@media (min-width:992px) and (max-width:1169px) {
    .left-sidebar-pro {
        display: block
    }
    .mobile-menu-area {
        display: none
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .logo-pro {
        display: none
    }
    .col-lg-1.col-md-0.col-sm-1.col-xs-12 {
        display: none
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .left-sidebar-pro {
        display: none
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .mobile-menu-area {
        display: block
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .header-top-menu {
        display: none
    }
    .header-right-info .navbar-nav {
        float: none;
        text-align: center;
        margin: 0 230px
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
    .res-mg-t-30 {
        margin-top: 30px
    }
}

@media (max-width:767px) {
    .container {
        width: 300px
    }
    .left-sidebar-pro {
        display: none
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .mobile-menu-area {
        display: block
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff
    }
    .menu-switcher-pro {
        display: none
    }
    .header-top-menu {
        display: none
    }
    .header-right-info .navbar-nav {
        float: none;
        text-align: center
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0 0 0 13px
    }
    .header-top-area {
        position: relative;
        left: 0
    }
    .analysis-progrebar-ctn {
        margin-top: 0
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .res-mg-t-15 {
        margin-top: 15px
    }
    .res-mg-t-30 {
        margin-top: 30px
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 450px
    }
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

img,
video {
    vertical-align: middle
}

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}


.icon {
    font-family: musicco!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.musicco-arrow-next:before {
    content: "\e904"
}

.musicco-edit:before {
    content: "\e910"
}

.musicco-info:before {
    content: "\e920"
}

.musicco-menu:before {
    content: "\e925"
}

.musicco-next:before {
    content: "\e928"
}

.musicco-user:before {
    content: "\e944"
}

.mean-container a.meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    float: right;
}
.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    float: left;
    min-height: 42px;
    padding: 4px 0 0;
    position: relative;
    width: 100%;
    z-index: 999999;
}
.mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 3px;
    margin-top: 3px;
}
.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #0c1923;
}
.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
.mean-container .mean-nav ul li {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
}
.mean-container .mean-nav ul li a {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #666666;
    display: block;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 1em 5%;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
    font-weight: 400;
}
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



