

/********Loader start*******/
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.8;
    z-index: 11040;
}
#loader {
    z-index: 1;
    opacity: 1;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader_message{
    color: #fff;
    top: 50%;
    /* left: 50%; */
    text-align: center;
    position: relative;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/********Loader End*******/
/********Form label Start*******/
.vertical-center-box span .control-label{
    font-weight: normal;
}
/********Form label End*******/

.box-search-area{
    background-color: #e9e9e9;
    padding: 10px 0px 0px 0px;
    margin: 10px;
    border-radius: 10px;
}

.tbl-btn-black{
    padding: 1px 10px 1px 10px;
}

.tbl-btn-warning{
    border: 1px solid #bf6f0b;
    padding: 3px 10px 3px 10px;
    background-color: #e08f2a;
}
.tbl-btn-warning:hover{    
    background-color: #f9a035 !important;
}

.tbl-btn-danger{
    border: 1px solid #d43f3a;
    padding: 1px 10px 1px 10px;
    background-color: #d9534f;;
}
.tbl-btn-danger:hover{    
    background-color: #c9302c !important;
}

.tbl-btn-info{
    border: 1px solid #1b6d85;
    padding: 1px 10px 1px 10px;
    background-color: #269abc;;
}
.tbl-btn-info:hover{    
    background-color: #00acd6 !important;
}

.tbl-btn-success{
    border: 1px solid #22890e;
    padding: 3px 10px 3px 10px;
    background-color: #30aa17;;
}
.tbl-btn-success:hover{    
    background-color: #34c317 !important;
}

.login-page{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.datepicker td span{
    height: 25px;
    line-height: 25px;
    width: 60px;
}

.profile-charecter {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 50% !important;
    font-size: 80px;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(to right, #9b4bd5, #63caf0)!important;
    line-height: 138px;
    width: 150px;
    height: 148px;
    border-radius: 3em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    padding: 1px 0 0;
    /*border: 2px solid #052963;*/
/*    -webkit-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    -moz-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    -o-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);*/
}

.sidebar-collapse > .wrapper>.main-sidebar>.sidebar > .user-panel>.image>.profile-charecter {
    width: 35px;
    /*max-width: 35px;*/
    height: 35px;
        font-size: 20px;
        line-height: 34px;
}


.profile-charecter-profilepage {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 50% !important;
    font-size: 110px;
    font-weight: 300;
    color: #fff;
    /*background: linear-gradient(to right, #9b4bd5, #63caf0)!important;*/
    background: linear-gradient(to top, #e69d38, #d54ba5)!important;
    line-height: 190px;
    width: 200px;
    height: 195px;
    border-radius: 3em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    padding: 1px 0 0;
    /*border: 2px solid #052963;*/
/*    -webkit-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    -moz-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    -o-box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(22, 187, 231, 0.8);*/
}


/*.products-list .product-info{
    width: 90%;
}*/

.skin-blue .main-header .navbar{
    box-shadow: 0px 2px 2px 0px #d1d1d1;
}

/*****subscription buy****/
.box-panel-header{
    background-color: #000;
    padding: 5px 10px;
    border-radius: 20px 20px 20px 20px;
    color:#fff;
}
.border-bottom-radious-none{
    border-radius: 20px 20px 0px 0px;
}
.box-panel-header > h4{
    color:#fff;
}
.text-white{
    color:#fffff;
}
.box-panel-header-right-p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-panel-header-right-btn{
    
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    color:white;
    padding: 0 10px;
    border-radius: 20px;
}
.box-panel-header-right-btn:hover,.box-panel-header-right-btn:active{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.mar-bottom-10{
    margin-bottom: 10px;
}
.mar-right-10{
    margin-right: 10px;
}
.mar-left-10{
    margin-left: 10px;
}
.mar-top-10{
    margin-top: 10px;
}

.pad-bottom-10{
    padding-bottom: 10px;
}
.pad-right-10{
    padding-right: 10px;
}
.pad-left-10{
    padding-left: 10px;
}
.pad-top-10{
    padding-top: 10px;
}
.pad-left-20{
    padding-left: 20px;
}
.box-panel-body{
/*    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px 20px 20px 20px;*/
/*    border-top-left-radius: 0px;
    border-top-right-radius: 0px;*/
    box-shadow: 0px 2px 2px 0px #d1d1d1;
}
.hidden_inputs > .form-group, .hidden_inputs > .form-group > .help-block{
    margin: 0px;
}

.pakage-list{
    border-bottom:1px solid #d2d5de;;
        padding: 10px 10px;
}
.pakage-list:hover{
    background-color: #f5f5f5;
}
.pakage-list > div > .form-group{
    margin-bottom: 0px;
}
.d-none{
    display: none;
}
.warning-info{
    padding: 5px 10px;
    background-color: #ffd251;
    border-radius: 15px;
}
.my-inline-button input[type=radio]{
    display: none;
}
.my-inline-button ul li{
    margin: 5px 0px;
}
.my-card-body{
    margin: 10px;
    padding: 15px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px #d1d1d1;
}
.next_btn,.btn-rounded{
    border-radius: 20px;
}

.notification-row{
    border-top: 1px solid;
}
.plus_tutor{
    color:#22a20f;
}
.play_tutor{
    color:#e6a107;
}
.help-block{
    color:#a94442;
}
/*******new clender***/
#new_when_startdate_div .datepicker::before{ content: none; }

.big-width-model .modal-dialog {
    width: 80%;
    margin: 30px auto;
}
.big-width-model .modal-dialog .modal-header {
    padding: 20px;
}
.big-width-model .modal-content .modal-body{
    display: inline-table;
	width: 100%;
	padding: 20px;
}


/******Plan Color******/
/*.plus_tutor{
    color:#22a20f;
}
.play_tutor{
    color:#e6a107;
}*/
.musicon_plus{
    color:#ffffff;
    background-color: #221f1f;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #848484, #221f1f, #221f1f);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_1{
    color:#000000;
    /*/background-color: #e7b954;*/
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #ffe79a, #e7b954, #e7b954);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_2{
    color:#ffffff;
    background-color: #da8dbb;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #f9bfd9, #da8dbb, #da8dbb);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_3{
    color:#ffffff;
    background-color: #5d96d1;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #90d1ff, #5d96d1, #5d96d1);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_4{
    color:#ffffff;
    background-color: #93c96a;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #cbff9a, #93c96a, #93c96a);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_5{
    color:#ffffff;
    background-color: #d7605f;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #fba095, #d7605f, #d7605f);
    font-size:12px;
    cursor:default;
}
.musicon_play_plan_6{
    color:#ffffff;
    background-color: #75c7b5;
    padding:1px 5px 1px 5px;
    border-radius: 3px;
    background: linear-gradient(170deg, #acf9d5, #75c7b5, #75c7b5);
    font-size:12px;
    cursor:default;
}
.booking_tutor_listing{
    padding : 10px 0px 10px 0 !important;
}
.custom-hm-1 {
    padding: 3px 10px 3px 10px;
    background-color: transparent !important;
    border: 1px solid #000;
    color: #000 !important;
}
.custom-d-none {
    display: none;
}
.custom-d-visible {
    display: unset;
}
.contai_r.booking{
       margin-top: 18px;
}
.sel_i.tutor_booking_profile {
    /*margin: -50px 17px 0px 10px;*/
    margin: -85px 17px 0px 10px;
    position: relative;
    width: 40px;
    height: 40px;
}

@media(max-width:1236px)  {
/*@media(max-width:1236px)  {*/
    .contai_r.booking{
       margin-top: 0px;
   }
   .sel_i.tutor_booking_profile {
        margin: 0px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
    #tutor_detail_group{
        text-align:center;
    }
    .musicon_plus,
    musicon_play_plan_1,
    musicon_play_plan_2,
    musicon_play_plan_3,
    musicon_play_plan_4,
    musicon_play_plan_5,
    musicon_play_plan_6{
        width: 100%;
    }
}
@media(min-width:1170px)  {
/*@media(max-width:1236px)  {*/
    
   .sel_i.tutor_booking_profile {
        margin: -50px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
}
@media(max-width:1050px)  {
    .musicon_plus,
    musicon_play_plan_1,
    musicon_play_plan_2,
    musicon_play_plan_3,
    musicon_play_plan_4,
    musicon_play_plan_5,
    musicon_play_plan_6{
        display: inherit;
        width: 85%;
    }
}
@media(max-width:991px)  {
    .contai_r.booking{
       margin-top: 8px;
   }
   .sel_i.tutor_booking_profile {
        margin: -50px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
    #tutor_detail_group{
        text-align:left;
    }
    .musicon_plus,
    musicon_play_plan_1,
    musicon_play_plan_2,
    musicon_play_plan_3,
    musicon_play_plan_4,
    musicon_play_plan_5,
    musicon_play_plan_6{
        width: 100%;
    }
    .reschedule-back-btn{
        margin-top: -30px;
    }
}

@media(max-width:768px)  {
    .contai_r.booking{
       margin-top: 8px;
   }
   .sel_i.tutor_booking_profile {
        margin: -50px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
    #tutor_detail_group{
        text-align:left;
    }
	.panel-heading .panel-title{
		display: flow-root;
	}
  .panel-heading .panel-title span{
	line-height: 23px;
	}

	#book-lesson_total div ul{
	    list-style:none;
	    white-space: nowrap;
		display: contents; 
	}
	#book-lesson_total div ul > li{
	    display: inline-block;
	}
}

/* Landscape */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 


	.sel_i.tutor_booking_profile {
        margin: -55px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
}

/* only screen and (max-width: 1368px) {
    
}*/

/* Student - home page main button - start */
.hm-btn-ul{
	list-style: none;
	overflow-x:hidden;
	/*white-space:nowrap;*/
	width: 100%;
}
.hm-btn-ul li{
	width: 265px;
	display: inline-block;
	padding: 10px;
}

@media(max-width:991px)  {
.hm-btn-ul{
	padding: 0px;
}
.hm-btn-ul li{
	width: 100%;
}

}
@media(min-width:992px)  {
.hm-btn-ul{
	padding: 0px;
}
.hm-btn-ul li{
	width: 240px;
	padding-right: 4px;
	padding-left: 4px;
}
.hm-mn-btn{padding: 10px 7px;}

}
@media(min-width:1072px)  {
.hm-btn-ul li{
	width: 265px;
}
}
/* Student - home page main button - end */

/* Student booking - Tutor list - start */
@media(max-width:390px)  {
    .sel_i.tutor_booking_profile {
        margin: 0px 17px 0px 10px;
        position: relative;
        width: 40px;
        height: 40px;
    }
    
}

/* Student booking - Tutor list - end */
